<div class="header">
  <a class="header-logo" href="#" aria-label="redirect to company home page">
    <img src="@@webRoot/images/logo.svg" alt="test page logo">
  </a>
  <div class="header-wrapper">
    @@include('../partials/layout/nav-menu.html')
    <div class="search-bar">
      <button class="search-btn" type="button">
        <span class="sr-only">Open modal window with search bar</span>
        <img src="@@webRoot/images/search.svg" alt="image with magnifying glass">
      </button>
    </div>
  </div>
</div>
