<nav class="nav-menu">
  <ul class="menu">
    <li class="menu-item">
      <a href="#"
         class="sub-menu-opener-link"
         aria-label="redirect to about page">About</a>
      <button class="sub-menu-opener" type="button">
        <i class="icon-rectangle">
          <span class="sr-only">open/close submenu</span>
        </i>
      </button>
      <ul class="sub-menu">
        <li class="menu-item"><a href="#">Services</a></li>
        <li class="menu-item"><a href="#">Companies</a></li>
        <li class="menu-item"><a href="#">Our team</a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="#" aria-label="redirect to guides page">Guides</a>
    </li>
    <li class="menu-item">
      <a href="#" aria-label="redirect to community page">Community</a>
    </li>
    <li class="menu-item">
      <a href="#" aria-label="redirect to resources page">Resources</a>
    </li>
    <li class="menu-item">
      <a href="#" aria-label="redirect to Contact us page">Contact Us</a>
    </li>
  </ul>
</nav>
