<section class="latest-posts-section">
  <div class="post-wrapper">
    <a href="#" class="post-card">
      <article class="post-card-holder">
        <div class="post-card-image-holder">
          <picture>
            <img src="@@webRoot/images/post-img-1.jpg" alt="image of post">
          </picture>
      </div>
        <div class="post-card-text-holder">
        <span class="category">travel</span>
        <h3 class="title">Planning the South African Wine Vacation of Your Dreams Got Easier</h3>
        <span class="read-more">
          <span class="text">READ MORE</span>
        </span>
      </div>
      </article>
    </a>
    <a href="#" class="post-card">
      <article class="post-card-holder">
        <div class="post-card-image-holder">
          <picture>
            <img src="@@webRoot/images/post-img-2.jpg" alt="image of post">
          </picture>
      </div>
        <div class="post-card-text-holder">
        <span class="category">travel</span>
        <h3 class="title">Planning the South African Wine Vacation of Your Dreams Got Easier</h3>
        <span class="read-more">
          <span class="text">READ MORE</span>
        </span>
      </div>
      </article>
    </a>
    <a href="#" class="post-card">
      <article class="post-card-holder">
        <div class="post-card-image-holder">
          <picture>
            <img src="@@webRoot/images/post-img-3.jpg" alt="image of post">
          </picture>
      </div>
        <div class="post-card-text-holder">
        <span class="category">travel</span>
        <h3 class="title">Planning the South African Wine Vacation of Your Dreams Got
          Easier Planning the South African Wine Vacation of Your Dreams Got Easier</h3>
        <span class="read-more">
          <span class="text">READ MORE</span>
        </span>
      </div>
      </article>
    </a>
  </div>
</section>
